<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>knightN-0.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>581</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-1.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>436</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-2.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>291</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-3.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-4.png</key>
		<dict>
			<key>x</key>
			<integer>146</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-5.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>871</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-6.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>726</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-7.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>581</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-8.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>436</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-9.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>291</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-10.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
		<key>knightN-11.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>144</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>144</integer>
			<key>originalHeight</key>
			<integer>144</integer>
		</dict>
	</dict>
</dict>
</plist>